/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

   .circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
   }

   @supports(border-radius: 100px) {
    .circle {
        border-radius: 100px;
       }
   }